.chat {
  width: 234px;
  height: 270px;
  background-color: #14a4d9;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border: 2px solid rgb(64, 58, 58);
  position: relative;
}

.chatInfo {
  width: 234px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.7rem;
  letter-spacing: 0.02rem;
  gap: 5px;
  margin-top: 5px;
  padding-bottom: 3px;
  border-bottom: 1px solid #eee;
}

#imageAndUsername {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.chatInfo img {
  margin-left: 4px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.username {
  color: rgb(51, 46, 49);
}

.sizeChat {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.remove {
  font-size: 0.9rem;
  cursor: pointer;
  color: tomato;
  transition: 0.3s ease-out;
}

.minimize {
  font-size: 0.75rem;
  transition: 0.2s ease-out;
}

.minus {
  color: grey;
}

.minimize:active {
  transform: scale(0.97);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
}

.remove:active {
  transform: scale(0.98);
}

.messages {
  overflow-y: scroll;

  background-color: #fefefe;
  height: 178px;
  border-bottom: 2px dashed;
  padding-bottom: 3px;
}

.writeMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: rgb(28, 28, 28);
  bottom: 0;
  border-left: 0.27rem solid #97938f;
}

.writeMessage textarea {
  resize: none;
}

.writeMessage textarea:focus {
  outline: none;
}

.sendBtn {
  color: #fefefe;
  cursor: pointer;
  font-size: 0.9rem;
  transition: 0.08s ease-in;
}

.sendBtn:active {
  transform: scale(0.96);
}
