.post {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin: 30px 0;
}

.postWrapper {
  padding: 10px;
 
}



.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trash {
  font-size: 0.87em;
  color: rgb(196, 76, 25);
  cursor: pointer;
  transition: 0.3s ease-in;
}
.trash:hover {
  transform: translateY(-2px);
}

.postTopLeft {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postProfileImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.postUsername {
  font-size: 15px;
  font-weight: 500;
  margin: 0 10px;
}

.postDate {
  font-size: 10px;
  align-self: flex-end;
}

.postCenter {
  margin: 20px 0;
}

.postImg {
  margin-top: 20px;
  width: 100%;
  max-height: 500px;
  object-fit: contain;
}

.postBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postBottomLeft {
  display: flex;
  align-items: center;
}

.likeIcon {
  color: rgb(115, 115, 212);
  cursor: pointer;
}

.heartIcon {
  color: tomato;
  cursor: pointer;
}

.postLikeCounter {
  font-size: 12px;
}

.postCommentText {
  cursor: pointer;
  border-bottom: 1px dashed grey;
  font-size: 12px;
}
