.sidebar {
  flex: 3;
  height: calc(100vh - 50px);
  background-image: linear-gradient(
    to top,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
  /* background-color: rgb(48, 130, 123, 0.55); */
  position: sticky;
  top: 50px;
  overflow-y: scroll;
  filter: blur(5);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #ab9c9c;
}

::-webkit-scrollbar-thumb {
  background-color: grey;
}

.sidebarWrapper {
  padding: 20px;
}

.sidebarList {
  padding: 0;
  margin: 0;
  list-style: none;
  color: #1c180b;
}

.sidebarListItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.sidebarIcon {
  margin-right: 15px;
  color: #bf7122;
}

.sidebarButton {
  width: 150px;
  border: none;
  padding: 4px;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: 500;
}

.sidebarHr {
  margin: 20px 0;
}

/* groups Styling */

.grp {
  display: flex;
  align-items: center;
}

.groups-container {
  display: flex;
  align-items: flex-start;
  /* justify-content: end; */
  flex-direction: column;
}

.createGroup-btn {
  width: 120px;
  height: 25px;
  font-size: 0.75rem;
  color: rgb(89, 14, 146);
  background-color: rgb(115, 231, 190);
  border: none;
  border-radius: 6px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  cursor: pointer;
  transition: 0.3s ease-in;
  margin: 7px 0px;
}

.createGroup-btn:hover {
  background-color: rgb(112, 220, 182);
}

.createGroup-btn:active {
  transform: scale(0.98);
}
