.messageContainer {
  display: flex;
  flex-direction: column;
}

.messageContainer .username {
  margin-top: 6px;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.028rem;
  text-decoration: underline;
  margin-left: 3px;
  color: crimson;
}

.messageContainer .message {
  margin-top: 5px;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
  font-size: 0.85rem;
  letter-spacing: 0.028rem;
  color: crimson;
  background-color: rgb(122, 187, 222);
  border-radius: 7px;
  padding: 4px 5px;
}

.messageContainer .date {
  font-size: 0.55rem;
  margin: 0 4px;
  font-weight: bold;
  color: crimson;
}

.other .username {
  place-self: end;
  color: rgb(70, 39, 98);
}

.other .message {
  place-self: end;
  color: rgb(70, 39, 98);
  margin-bottom: 4px;
  background-color: rgb(240, 245, 133);
  border-radius: 7px;
  padding: 4px 5px;
}

.other .date {
  place-self: end;
  color: rgb(70, 39, 98);
}
